<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-datawedge-auto" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>DataWedge Auto</name>
    <description>Cordova plugin para Zebra DataWedge com criação automática de profile.</description>
    <license>MIT</license>
    <keywords>zebra,datawedge,barcode,scanner,auto,profile</keywords>

    <js-module name="datawedge" src="www/datawedge.js">
        <clobbers target="DataWedge" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DataWedgePlugin">
                <param name="android-package" value="com.agildesenvolvimento.coletor.DataWedgePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/DataWedgePlugin.java"
                     target-dir="src/com/agildesenvolvimento/coletor" />
    </platform>
</plugin>
